<!DOCTYPE html>
{% load staticfiles%}
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>First App</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Holla este es index.html! Y aquí va mi imagen</h1>
    {{ insert_me }}
    <img src="{% static "images/enero.jpg" %}" alt="Oh oh . La imagen no cargó :'v'">
</body>
</html>